<template>
  <img class="logo" alt="Vue logo" src="../assets/logo.jpg">
  <div class="register">
    <input type="text" v-model="name" placeholder="Enter Name">
    <input type="text" v-model="email" placeholder="Enter Email">
    <input type="password" v-model="password" placeholder="Enter Password">
    <button type="submit" v-on:click="signUp">Sign Up</button>
  </div>
</template>

<script>
import axios from "axios"

export default {
  name: 'SignUp',
  data() {
    return {
      name: "",
      email: "",
      password: "",
    }
  },
  methods: {
    async signUp() {
      const result = await axios.post("http://localhost:3000/users", {

        email: this.email,
        name: this.name,
        password: this.password,
      })
      console.warn(result);
      if (result.status == 201) {
        alert("Signup done successfully")
        localStorage.setItem("user-info", JSON.stringify(result.data))
      }
    }
  }
}
</script>


<style>
.logo {
  width: 150px;
}

.register input {
  width: 300px;
  height: 40px;
  padding-left: 20px;
  display: block;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  border: 1px solid skyblue;
}

.register button {
  width: 320px;
  height: 40px;
  border: 1px solid skyblue;
  background: skyblue;
  color: #fff;
  cursor: pointer;
}
</style>